upstream frontend_service {
    server frontend:3000;
} 

upstream backend_service {
   server backend:8000;
}

upstream adminer_service {
   server adminer:8080;
}

upstream redis_service {
   server redis-commander:8081;
}

server {
    listen 80;
    server_name {{ domain }};
    return 301 https://{{ domain }}$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ domain }};

    ssl_certificate /etc/nginx/certs/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/{{ domain }}/privkey.pem;
    ssl_trusted_certificate /etc/nginx/certs/{{ domain }}/chain.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384';

    location /storage {
        alias /app/storage/app/public;
        index index.html index.htm;
        try_files $uri $uri/ =404;
    }

    location / {
        proxy_pass http://frontend_service;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /test {
        proxy_pass http://backend_service;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /api {
        proxy_pass http://backend_service;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /api/images {
        client_max_body_size 128m;
        client_body_buffer_size 128m;

        proxy_pass http://backend_service;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /adminer {
        proxy_pass http://adminer_service;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /redis/ {
        rewrite ^/redis(/.*)$ $1 break;
        proxy_pass http://redis_service;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}